body, html {
  margin: 0;
  padding: 0;
  font-family: 'Sofia', sans-serif;
}

h2 {

}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #4CAF50; /* Change to your desired hover color */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.photo-grid img {
  width: 100%;
  height: auto;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use viewport height to make sure the body takes up the full screen */
  margin: 0; /* Remove default margin */
}

.center-div {
  width: 50%; /* Example width */
  height: 50%; /* Example height */
  /* Additional styling for the centered div */
}

.image-container {
  width: 100%;
  max-width: 100%;
}

/* Make the image responsive */
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}