.photodiv {
  position:absolute;
  display:block;
  height:100%;
  width: 100%;
  /* background-size: 100% 100%; */
  background-size: cover;
  /* overflow:hidden; */
}
.bgimg {
  background-image: url("/photos/website_backdrop.jpg");
  display:block;
  /* height: 100vh;
  width: 100vw; */
  /* min-height: 100%; */
  height:100%;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  /* background-size: cover; */
}

.caption {
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9dae78;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #5c702f;
  }

  html {
    background-color: #9e9182;
    color: #333;
    font-family: Arial, sans-serif;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
    overflow-wrap: normal;
  }
  .grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 30px;
    text-align: left;
    /* overflow-wrap: normal;
    word-break: break-all; */
  }

  img .logo{
    object-fit: contain;
    display: block;
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }

  t1 {
    font-size: 40px;
    font-weight: bold;
  }

  t2 {
    font-size: 30px;
    font-weight: bold;
  }

  body, html {
    height: 100%;
    /* width:100%; */
    margin: 0;
  }


  .body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; /* Use viewport height to make sure the body takes up the full screen */
    margin: 0; /* Remove default margin */
  }

  .image-container {
      width: 70%;
      max-width: 100%;
      height: 50%;
  }

  /* Make the image responsive */
  .image-container img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
  }